.list-group-item {
    background-color: lightgray;
}

li:hover {
    background-color: lightsalmon;
    cursor: pointer;
}

li {
    position: relative;
    padding-left: 60px !important;
}

li img {
    position: absolute;
    width: 2%;
    left: 2%;
    top: 7px;
}